build
bin
*.onnx
.vscode
musicgen-stereo
quantized_musicgen
musicgen_fixed 
musicgen-small
musicgen-stereo-small
__pycache__
./plugins/MusicGen/app/app/
release/*
vst2/*
./vst2
vst3/*
./vst3
codesign_cert.txt
.DS_Store
*DS_Store
venv